p.text-center
  a(data-ng-href='https://www.instagram.com/fredsrocha/', target='_blank', title='@fredsrocha')
    small.text-upper
      //i.fa.fa-github-alt(aria-hidden='true') 
      em  &copy; {{ vm.constant.author }}