section.container(data-role='application')
    .box-languages
      img(src='images/br.png', alt='Portuguese language', data-ng-if="('APP.CHOOSE_LANG' | translate) == 'Choose Language'")
      img(src='images/en.png', alt='English language', data-ng-if="('APP.CHOOSE_LANG' | translate) == 'Escolher Idioma'")
    select.center-block(data-ng-change='vm.translateLanguage(languagesTranslate)', data-ng-model='languagesTranslate', data-ng-options='languageTranslate.language for languageTranslate in vm.languagesTranslate')
      option(value='', selected='selected', disabled='disabled', data-ng-bind-html="'APP.CHOOSE_LANG' | translate")
    p(data-ng-bind-html="'APP.DESCRIPTION' | translate")
    p.text-center
      strong
        em.text-center(data-ng-bind-html="'APP.LICENSE' | translate")
    p.text-center
      i.fa.fa-star
      | &nbsp;
      small(data-ng-bind-html="'APP.CONTRIBUTE' | translate")
    a.button.btn-download(data-ng-href='https://github.com/fredsrocha/fsr-workflow/archive/master.zip')
      i.fa.fa-download
      |  Download
    p.text-center
      strong.text-upper(data-ng-bind-html="'APP.TEST' | translate")
    table
      thead
        th Photo
        th Gender
        th Title
        th First Name
        th Last Name
      tbody
        tr(data-ng-repeat='rua in vm.randomUserApi')
          td(data-label='Photo')
            img(data-ng-src='{{ rua.picture.thumbnail }}', alt='{{ rua.name.first }} {{ rua.name.last }} photo')
          td(data-label='Gender') {{ rua.gender }}
          td(data-label='Title') {{ rua.name.title }}
          td(data-label='First Name') {{ rua.name.first }}
          td(data-label='Last Name') {{ rua.name.last }}
    p.text-center
      small
        | Random users from 
        a(data-ng-href='https://randomuser.me/', target='_blank') randomuser.me
        |  API