/* Buttons */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  outline: none;
  border: none;
  padding: 20px;
  display: inherit;
  cursor: pointer;
  font-size: 100%;
  background-color: transparent;
  position: relative;
  border-radius: 4px;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  text-align: center;
  text-decoration: none;
  line-height: 1; }
/* End Buttons*/