/* Helpers */
.text-center {
  text-align: center;
}
.text-upper {
  text-transform: uppercase;
}
.center-block {
  display: block;
  margin: {
    left: auto;
    right: auto;
  }
}
/* End Helpers */