/* Table */
table {
  background-color: white;
  border: {
    collapse: collapse;
    color: #ccc;
    spacing: 0;
    style: solid;
    width: 1px;
  }
  box-shadow: rgba(0,0,0,0.35) 0px 3px 20px;
  margin: 1.5em 0;
  padding: 0;
  width: 100%;
  tr {
    border: {
      color: #ddd;
      style: solid;
      width: 1px;
    }
    padding: 0.5em;
  }
  th {
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;    
  }
  th,
  td {
    color: #959595;
    padding: 1.15em 0;
    text-align: center;
  }
}
/* End Table */